Source: raspisms
Section: web
Priority: optional
Maintainer: Pierre-Lin Bonnemaison <raspbianfrance@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://raspisms.raspberry-pi.fr
Vcs-Git: https://github.com/RaspbianFrance/RaspiSMS.git
Vcs-Browser: https://github.com/RaspbianFrance/RaspiSMS.git

Package: raspisms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, php, php-cli, php-mysql | php-mysqli, php-json, php-curl, php-mbstring, php-xml, mariadb-server | mysql-server, python3, gammu, python3-gammu
Description: Web application allowing to send and receive GSM messages
 RaspiSMS is a web application written in PHP allowing to send and receive GSM 
 messages with various backend, from local modem to remote API.
 It also include various functionality like remote control, contacts 
 management, scheduling messages, conditionnals messages and a lot more.
Pre-Depends: debconf (>= 0.2.17)
Recommends: apache2
