Package: raspisms
Version: 3.0.2
Architecture: all
Maintainer: Pierre-Lin Bonnemaison <raspbianfrance@gmail.com>
Installed-Size: 5591
Pre-Depends: debconf (>= 0.2.17)
Depends: debconf (>= 0.5) | debconf-2.0, php, php-cli, php-mysql | php-mysqli, php-json, php-curl, php-mbstring, php-xml, mariadb-server, php-zip | mysql-server, python3, gammu, python3-gammu, git, unzip
Recommends: apache2
Section: web
Priority: optional
Homepage: https://raspisms.raspberry-pi.fr
Description: Web application allowing to send and receive GSM messages
 RaspiSMS is a web application written in PHP allowing to send and receive GSM
 messages with various backend, from local modem to remote API.
 It also include various functionality like remote control, contacts
 management, scheduling messages, conditionnals messages and a lot more.
